<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Transfer transaction</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
    <form>
        <div class="mb-3">
            <label for="amount">Amount</label>
            <input min="0" type="number" class="form-control" id="amount" [(ngModel)]="transferTransactionDto.amount" name="amount" placeholder="Amount">
        </div>
        
        <div class="mb-3">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" [(ngModel)]="transferTransactionDto.date" name="date">
        </div>
        
        <div class="mb-3">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="transferTransactionDto.description" name="description" placeholder="Description">
        </div>
        
        <div class="mb-3">
            <label for="account">Account from</label>
            <select class="form-select" id="account" [(ngModel)]="transferTransactionDto.accountFromId" name="account">
                <option *ngFor="let account of accountsService.accounts" [ngValue]="account.id">{{account.name}}</option>
            </select>
        </div>
        
        <div class="mb-3">
            <label for="account">Account to</label>
            <select class="form-select" id="account" [(ngModel)]="transferTransactionDto.accountToId" name="account">
                <option *ngFor="let account of accountsService.accounts" [ngValue]="account.id">{{account.name}}</option>
            </select>
        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="transferTransaction()">Create</button>
        </div>
        
    </form>
</div>
