<div class="card mb-2">
    <div class="card-body d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-start">
            <div class="rounded-circle me-2 account-icon" [title]="transaction.account.name + ' (' + transaction.account.currency+ ')'">
                <i-bs style="color: white;" [name]="getIcon(transaction.account.id)"
                width="2rem" 
                height="2rem">
                </i-bs>
            </div>
            <div class="d-flex flex-column" style="height: 64px; justify-content: space-around;">
                <span class="d-flex align-items-center line">
                    <span>
                        <span class="text-secondary">{{transaction.category?.name ?? 'Transfer'}}</span>
                        <span class="text-secondary"> / </span>
                        <span>{{transaction.description}}</span>
                    </span>
                    <a (click)="updateTransaction()" class="text-danger edit-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M17.263 2.177a1.75 1.75 0 012.474 0l2.586 2.586a1.75 1.75 0 010 2.474L19.53 10.03l-.012.013L8.69 20.378a1.75 1.75 0 01-.699.409l-5.523 1.68a.75.75 0 01-.935-.935l1.673-5.5a1.75 1.75 0 01.466-.756L14.476 4.963l2.787-2.786zm-2.275 4.371l-10.28 9.813a.25.25 0 00-.067.108l-1.264 4.154 4.177-1.271a.25.25 0 00.1-.059l10.273-9.806-2.94-2.939zM19 8.44l2.263-2.262a.25.25 0 000-.354l-2.586-2.586a.25.25 0 00-.354 0L16.061 5.5 19 8.44z"></path></svg>                    </a>
                    <a (click)="deleteTransaction(transaction.id)" class="text-danger delete-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M5.72 5.72a.75.75 0 011.06 0L12 10.94l5.22-5.22a.75.75 0 111.06 1.06L13.06 12l5.22 5.22a.75.75 0 11-1.06 1.06L12 13.06l-5.22 5.22a.75.75 0 01-1.06-1.06L10.94 12 5.72 6.78a.75.75 0 010-1.06z"></path></svg>
                    </a>
                </span>
                <span class="text-secondary h6">{{transaction.date | date}}</span>
            </div>
        </div>
        
        <div [ngSwitch]="transaction.type">
            <span *ngSwitchCase="0" class="h3 text-danger">
                -{{transaction.amount}}
            </span>
            <span *ngSwitchCase="1" class="h3 text-success">
                +{{transaction.amount}}
            </span>
            <span *ngSwitchDefault class="h3 text-secondary">
                {{transaction.amount}}
            </span>
            <span>
                <span class="text-secondary">
                    {{transaction.account.currency}}
                </span>
            </span>
        </div>
    </div>
</div>
