.account-icon {
    width: 64px; 
    height: 64px; 
    background-color: rgba(250, 128, 114, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-icon svg {
    width: 32px;
    height: 32px;
}

.delete-button {
    cursor: pointer;
}

.delete-button, .delete-button svg {
    width: 1.6rem;
}

.delete-button svg {
    fill: #f44336;
}

.delete-button svg:hover {
    fill: #d32f2f;
}

.edit-button {
    margin-left: .5rem;
    cursor: pointer;
}

.edit-button, .edit-button svg {
    width: 1.2rem;
}

.edit-button svg {
    fill: #4caf50;
}

.edit-button svg:hover {
    fill: #388e3c;
}
