.new-button {
    position: fixed; 
    bottom: 2rem; 
    right: 2rem;
    
    border: none;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    background-color: #007bff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}

.new-button svg {
    fill: white;
    width: 32px;
    height: 32px;
}

.new-button:hover {
    background-color: #0069d9;
}

.demoModeWarning {
    position: fixed; 
    bottom: 2rem; 
    right: 2rem;
    padding: 1rem;
    background-color: #ffc107;
    border-radius: 5px;
    border: 2px solid #dda705;
    opacity: 0.9;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
