<button (click)="open(categoriesModal)" type="button" class="btn btn-outline-dark main-btn">Categories</button>

<ng-template #categoriesModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Edit categories</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <ul class="list-group">
            <li *ngFor="let category of categories" class="list-group-item">
                <span class="categoryName" #el (click)="spanSwitchCategory(el, category.id)">{{category.name}}</span>
                <span class="text-secondary"> ({{category.transactionsCount}})</span>
                <a *ngIf="category.transactionsCount === 0" (click)="deleteCategory(category.id)" class="text-danger delete-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M5.72 5.72a.75.75 0 011.06 0L12 10.94l5.22-5.22a.75.75 0 111.06 1.06L13.06 12l5.22 5.22a.75.75 0 11-1.06 1.06L12 13.06l-5.22 5.22a.75.75 0 01-1.06-1.06L10.94 12 5.72 6.78a.75.75 0 010-1.06z"></path></svg>
                </a>
            </li>
        </ul>
	</div>
    <div class="modal-footer">
        <div class="input-group mb-3">
            <input #categoryInput="ngModel" (keydown)="keyDown($event)" [(ngModel)]="categoryName" required type="text" class="form-control" placeholder="Category name" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <button type="button" [ngClass]="{'disabled': categoryInput.errors}" style="pointer-events: auto" class="input-group-text btn btn-primary" (click)="createCategory()">Create</button>
        </div>
    </div>
</ng-template>
