<div class="tabs">
	<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" [destroyOnHide]="false" >
		<li [ngbNavItem]="-1">
			<a ngbNavLink>All transactions</a>
		</li>
		<li [ngbNavItem]="0">
			<a ngbNavLink>Expenses</a>
		</li>
		<li [ngbNavItem]="1">
			<a ngbNavLink>Income</a>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>Transfers</a>
		</li>
	</ul>
	
	<div class="list-header">
		<div class="input-group mt-3 search" >
			<input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Search" aria-label="Search">
		</div>
		
		<div class="input-group mt-3 account-select" *ngIf="accounts">			
			<select class="form-select" [(ngModel)]="selectedAccountId" (change)="onAccountChange()">
				<option value="undefined" selected>All accounts</option>
				<option *ngFor="let account of accounts" [value]="account.id">{{account.name}}</option>
			</select>
			
			<span class="input-group-text" *ngIf="accountsService.selectedAccount == undefined; else elseBlock">
				Balance: {{accounts! | sumAccountsBalances | currency:'UAH':'symbol-narrow':'1.0-0'}}
			</span>
			<ng-template #elseBlock>
				<span class="input-group-text">
					Balance: {{accountsService.selectedAccount?.balance | currency:accountsService.selectedAccount?.currency:'symbol-narrow':'1.0-0'}}
				</span>
			</ng-template>
			
			<button class="btn btn-outline-secondary" type="button" (click)="open(transfer)">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path d="M7.72 21.78a.75.75 0 001.06-1.06L5.56 17.5h14.69a.75.75 0 000-1.5H5.56l3.22-3.22a.75.75 0 10-1.06-1.06l-4.5 4.5a.75.75 0 000 1.06l4.5 4.5zm8.56-9.5a.75.75 0 11-1.06-1.06L18.44 8H3.75a.75.75 0 010-1.5h14.69l-3.22-3.22a.75.75 0 011.06-1.06l4.5 4.5a.75.75 0 010 1.06l-4.5 4.5z"></path></svg>
			</button>
			
		</div>
	</div>

	<div class="items mt-3">
		<app-transactions-list [transactions]="transactionsService.transactions 
			| filterTransactionType: active 
			| filterTransactionsByAccount: accountsService.selectedAccount
			| searchTransaction : searchText"></app-transactions-list>
	</div>

</div>

<ng-template #transfer let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Transfer transaction</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<label for="amount">Amount</label>
                <input min="0" type="number" class="form-control" id="amount" [(ngModel)]="transferTransactionDto.amount" name="amount" placeholder="Amount">
			</div>
            
            <div class="mb-3">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" [(ngModel)]="transferTransactionDto.date" name="date">
            </div>
            
            <div class="mb-3">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" [(ngModel)]="transferTransactionDto.description" name="description" placeholder="Description">
            </div>
            
            <div class="mb-3">
                <label for="account">Account from</label>
                <select class="form-select" id="account" [(ngModel)]="transferTransactionDto.accountFromId" name="account">
                    <option *ngFor="let account of accounts" [ngValue]="account.id">{{account.name}}</option>
                </select>
            </div>
			
			<div class="mb-3">
                <label for="account">Account to</label>
                <select class="form-select" id="account" [(ngModel)]="transferTransactionDto.accountToId" name="account">
                    <option *ngFor="let account of accounts" [ngValue]="account.id">{{account.name}}</option>
                </select>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="transferTransaction()">Create</button>
            </div>
            
		</form>
	</div>
</ng-template>
