.tabs {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 2rem);
}

.items {
    padding-right: 2rem;
    overflow-y: auto;
}


.list-header {
    padding-right: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: .5rem;
}

@media screen and (max-width: 1700px) {
    .list-header {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 1400px) {
    .list-header {
        grid-template-columns: 1fr;
    }
}
